body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-header {
  background-color: rgba(9, 82, 102, 1);
  padding: 15px 0;
  color: white;
}

.App-header h1 {
  margin: 0;
}

.App-header a {
  color: white;
}

.App-header a:hover {
  color: rgba(159, 232, 252, 0.6);
}
